@charset "UTF-8";
*{
	padding:0;
	margin:0;
}
.home {
	position: fixed;
	width:100%;
	height:70px;
	background:#077893;
	box-shadow:0px 5px 10px rgba(128, 128, 128, 0.53);
	z-index:99
}
.title{
	line-height:70px;
	float:left;
	display:inline-block;
	color:white;
	width:100px;
	text-transform:uppercase;
	margin-left: 10px;
	font-family:FontAwesome;
	margin-right: 15px;
}
.homeHead{
	margin-left:168px;
	width:1200px;
	height:70px;
}
.homeTitle{
	float: left
}
.registBtn{
	float: right;
	line-height:70px;
}

.registBtn a{
	text-decoration: none;
	font-weight: 700;
	 display:block;
	 color:white;
	 width:100px;
	 text-align:center;
 }

.registBtn a{
	font-weight: 700;
	display:block;
	color:white;
	width:100px;
	text-align:center;
}
.registBtn a:hover{
	color: #19fffc;
}